<div class="container">
    <nav class="nav">
       <a routerLink="" routerLinkActive="active">Home</a>
       <a routerLink="/components" routerLinkActive="active">Components</a>
       <a routerLink="/databinding" routerLinkActive="active">DataBinding</a>
       <a routerLink="/commComponents" routerLinkActive="active">Communication b/w Components</a>
       <a routerLink="/routing" routerLinkActive="active">Routing</a>
       <a routerLink="/forms" routerLinkActive="active">Forms</a>
       <a routerLink="/pipes" routerLinkActive="active">Pipes</a>
       <a routerLink="/directives" routerLinkActive="active">Directives</a>
       <a routerLink="/DI" routerLinkActive="active">DI</a>
       <a routerLink="/lifecyclehooks" routerLinkActive="active">Lifecycle hooks</a>
       <a routerLink="/api" routerLinkActive="active">ApiIntegration</a>
       <a routerLink="/modules" routerLinkActive="active">Modules</a>
         
    </nav>
  </div>
 
  
  
